.home-our-services-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.home-our-services-mini-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.home-our-services-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-our-services-cards-container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.home-our-services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.home-our-services-card-icon-contianer {
  background-color: #2b72ee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}

.home-our-services-card-icon {
  font-size: 30px;
  color: white;
}

.home-our-services-card-heading {
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 15px;
}

.home-our-services-card-description-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .home-our-services-double-card-container {
    display: flex;
    justify-content: space-between;
  }

  .home-our-services-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .home-our-services-card-icon-contianer {
    height: 80px;
    width: 220px;
  }

  .home-our-services-card-description-container {
    align-items: flex-start;
    margin-left: 5%;
  }

  .home-our-services-card-heading {
    margin: 0;
  }
  .home-our-services-card-para {
    text-align: start;
  }
}
@media screen and (min-width: 1075px) {
  .home-our-services-mini-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .home-our-services-cards-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 50%;
  }
  .home-our-services-description-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* .home-our-services-card {
    width: 320px;
  } */
  .home-our-services-double-card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .home-our-services-card-icon-contianer {
    height: 43%;
    width: 75%;
  }
  .home-our-services-card-heading {
    font-size: 20px;
  }
}
