@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  color: white;
  background-color: #14397a;
  height: 46px;
  padding: 12px;
  border-radius: 8px;
  width: max-content;
  align-self: center;
}

.navbar-inner-container {
  display: flex;
  width: 90%;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.navbar-logo-main-container {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
}

.navbar-contact-btn-inner-contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.nav-item-down-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 20px; */
}

.nav-item-downArrow {
  display: flex;
  align-self: center;
}

.nav-item-dropdown-container {
  display: none;
  opacity: 0;
  transform: translateY(-10px) !important;
  transition: opacity 0.3s, transform 0.3s !important;
}

.nav-item-down-arrow-container:hover .nav-item-dropdown-container {
  display: block;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  opacity: 1;
  width: 20%;
  top: 80%;
  transform: translateY(10px) !important;
  transition: opacity 1s ease-in;
}

.nav-item-down-arrow-container:hover
  .nav-item-dropdown-container
  .nav-item-dropdown {
  background-color: red;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav-item-down-arrow-container:hover {
  display: flex;
  flex-direction: column;
  color: #14397a;
}

.navbar-items-main-container {
  margin-left: 0% !important;
}

@media screen and (max-width: 800px) {
  .navbar-logo-main-container {
    margin: 0;
  }
  .navbar-contact-btn {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .navbar-contact-btn {
    display: none;
  }
}
